@model IEnumerable<RegionModel>
<a asp-action="Create" asp-controller="Region" class="btn bg-success" >Add Region</a>
<table class="table table-striped">
  <thead>
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Option</th>
      </tr>
  </thead>
  <tbody>
      @foreach(var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>
                   <span>
                   <a asp-controller="Region" asp-action="Edit" asp-route-id="@r.Id" >Edit</a>
                   </span>
                   <span>
                   <a asp-controller="Region" asp-action="Delete" asp-route-id="@r.Id" >Delete</a>
                   </span>
                </td>
                
            </tr>
        }
    </tbody>
</table>